.form {
  margin-top: 2px;
  background-color: RGB(10,74,191);
  width: 100%;
  height: 90px;
}

.form-control {
  margin-top: 25px;
  margin-left: 100px;
  width: 200px;
}

.formgroup {
  position: relative;
}

.product {
  position: absolute;
}

.zipcode {
  position: absolute;
  margin-left: 350px;
  /* margin-right: 50px; */
}

.range {
  position: absolute;
  margin-left: 600px;
  /* margin-right: 50px; */
}
.range.form-control{
  width: 350px;
}
.btn {
  position: absolute;
  /* justify-content: center;
  align-items: center; */
  margin-left: 1000px;
  margin-top: 25px;
  /* background-color: RGB(246,235,22); */
  /* background-color: RGB(10,74,191); */
  background-color: rgb(10,104,191);
  border: 1px solid white;
  color: white;
  font-weight: bold;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: rgb(10,104,191);
    border-color: white;
}