.container {
  padding: 0;
  margin-left: 0px;
}

.row {
  padding: 0;
  margin-left: 22.5px;
  --bs-gutter-x: 1.5rem;
}

.col-sm-3 {
  padding: 0;
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  display: flex;
}

.info {
  margin-left: 35px;
}