/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(50px, auto);
} */

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-auto-rows: 200px;

}

.container {
  padding: 0;
}

.row {
  padding: 0;
}

.col-sm-3 {
  padding: 0;
  /* flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  display: flex; */
}